<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Parallel Coordinates</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://underscorejs.org/underscore-min.js"></script>
    <script src="/lib/d3.parcoords.js"></script>
    <script src="/lib/d3.underscore.math.js"></script>
    <script src="/lib/d3.divgrid.js"></script>
    <link href="/css/d3.parcoords.css" rel="stylesheet">
    <link href="/css/bigdata.parallelcoordinates.css" rel="stylesheet">
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script data-require="d3@3.5.3" data-semver="3.5.3" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js"></script>
  
  
  
  
  </head>
  
  <body>
    <input type="file" onchange="loadFile()" />
  
    <script>
      var reader = new FileReader();  
      
      function loadFile() {      
        var file = document.querySelector('input[type=file]').files[0];      
        reader.addEventListener("load", parseFile, false);
        if (file) {
          reader.readAsText(file);
        }      
      }
      
      function parseFile(){
        var doesColumnExist = false;
        var data = d3.csv.parse(reader.result, function(d){
          doesColumnExist = d.hasOwnProperty("someColumn");
          return d;   
        });
        console.log(doesColumnExist);
      }
    </script>
  
    <div id="wrapper" class="parcoords" style="width:100%;height:340px"></div>
    <div id="grid"></div>
  </body>
</html>
